{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}lunar calendar's hubble{% endblock %}

{% block page_content %}
<h1>{% if parameter.file %}这束光在{{ parameter.date }}抵达地球,它穿越了xx(暂不支持)光年只为了来庆祝你{{ parameter.age }}岁的生日，它来自{{ parameter.image }}{% endif %}</h1>
{% if parameter.image %}<img src="{{ url_for('static', filename='images/%s' % parameter.file ) }}" alt="{{ parameter.image }}" height="700" />{% else %}啥也没有{% endif %}
{{ wtf.quick_form(form) }}

{% endblock %}
